@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.downloadContainer {
	margin: 20px;
	.bg {
		position: relative;
		max-width: 1380px;
		width: 100%;
		margin: auto;

		@include lg {
			height: 510px;
		}
		@include md {
			height: 420px;
		}

		.img {
			border-radius: 24px;
			background: $red-200;
			position: absolute;
			z-index: -10;
			top: 0;
			width: 100%;
			height: 100%;
		}

		h2,
		p {
			color: $white;
		}

		.container {
			max-width: 1100px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 45px;
			margin: 40px auto;
			padding: 0;
			align-items: center;
			@include md {
				grid-template-columns: 1fr;
				margin: 30px 0;
			}

			.wrapper1 {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: start;
				gap: 20px;
				h2 {
					text-align: left;
				}

				div {
					display: flex;
					align-items: start;
					justify-content: start;
					gap: 15px;
					margin: 15px 0;
				}
			}

			.wrapper2 {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				.phone {
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: -1;
				}
			}
		}
	}
}
